.nav-bar {
    display: flow-root;
    background-color: #fff;
    /* padding: 10px 0 35px; */
    padding: 30px 0 15px;
    /* margin-bottom: 15px; */
    box-shadow: 1px 1px 2px -1px;
    border-radius: 3px;
}

.nav-bar ul {
    list-style: none;
    float: right;
    margin: 0 60px;
}

.nav-bar ul li {
    display: inline-block;
    /* margin: 0 10px; */
}

.nav-bar ul li a {
    color: #0c0b0b;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 10px;
}

.nav-bar ul li a:hover {
    /* box-shadow: 1px 1px 1px -1px; */
    color: #fff;
    background-color: #0c0b0b;
}